/* screen - food-d */

.food-d {
  align-items: flex-start;
  background-color: var(--gallery);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 926px;
  padding: 60px 0;
  width: 428px;
}

.food-d .overlap-group1 {
  background-image: url(../img/372156152-793276486130744-977564212044286730-n-1-20@2x.png);
  background-size: 100% 100%;
  flex-direction: column;
  min-height: 273px;
  padding: 10px 18px;
  width: 428px;
}

.food-d .overlap-group {
  background-color: var(--bittersweet);
  border-radius: 6px;
  gap: 11px;
  height: 32px;
  margin-top: 18px;
  min-width: 120px;
  padding: 1px 0;
}

.food-d .title {
  height: 43px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 16px;
  margin-top: 129px;
  width: 284px;
}

.food-d .a-la-carte-restaurant {
  height: 31px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 15px;
  width: 181px;
}

.food-d .select-box-container {
  align-self: center;
  gap: 23px;
  height: 219px;
  margin-left: 3.0px;
  margin-top: 37px;
  min-width: 365px;
}

.food-d .american-fried-rice {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 167px;
}

.food-d .pork-fried-rice {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 124px;
}

.food-d .select-box-1 {
  border-radius: 11px;
  flex-direction: column;
  margin-left: 33px;
  margin-top: 40px;
  min-height: 219px;
  width: 171px;
}

.food-d .pad-gaprao {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 124px;
}

.food-d .select-box-2 {
  align-items: flex-start;
  display: flex;
}
