/* screen - food-b */

.food-b {
  align-items: flex-start;
  background-color: var(--gallery);
  border: 1px none;
  display: flex;
  height: 926px;
  overflow: hidden;
  width: 428px;
}

.food-b .overlap-group1 {
  height: 907px;
  margin-top: 60px;
  position: relative;
  width: 428px;
}

.food-b .rectangle-23 {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%);
  border-radius: 33px;
  height: 732px;
  left: 0;
  position: absolute;
  top: 175px;
  width: 428px;
}

.food-b .title {
  height: 43px;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 200px;
  width: 234px;
}

.food-b .grilled-meatballs-g {
  height: 31px;
  left: 25px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 243px;
  width: 333px;
}

.food-b .group-14 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  height: 32px;
  left: 18px;
  min-width: 122px;
  position: absolute;
  top: 28px;
}

.food-b .overlap-group {
  align-items: flex-start;
  background-color: var(--bittersweet);
  border-radius: 6px;
  display: flex;
  gap: 11px;
  height: 32px;
  min-width: 120px;
  padding: 1px 0;
}

.food-b .arrow-back {
  height: 29px;
  width: 36px;
}

.food-b .place {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1.4px;
  min-width: 59px;
  text-align: center;
  white-space: nowrap;
}

.food-b .select-box {
  align-items: flex-start;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  left: 33px;
  min-height: 219px;
  position: absolute;
  top: 310px;
  width: 237px;
}

.food-b .rectangle-25 {
  height: 166px;
  margin-left: 1px;
  object-fit: cover;
  width: 166px;
}

.food-b .red-sausage {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 233px;
}

.food-b .out-of-order {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 1px;
  margin-top: 1px;
  min-height: 15px;
  white-space: nowrap;
}

.food-b .select-box-1 {
  cursor: pointer;
  left: 227px;
  top: 310px;
}

.food-b .fired-chicken {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 124px;
}

.food-b .select-box-2 {
  left: 33px;
  top: 569px;
}

.food-b .grilled-pork {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 124px;
}

.food-b .select-box-3 {
  left: 227px;
  top: 569px;
}

.food-b .fried-quail-eggs {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 152px;
}

.food-b .select-box-4 {
  align-items: flex-start;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  min-height: 219px;
  position: absolute;
  width: 171px;
}
