/* screen - food-e */

.food-e {
  align-items: flex-start;
  background-color: var(--gallery);
  border: 1px none;
  display: flex;
  height: 926px;
  overflow: hidden;
  width: 428px;
}

.food-e .overlap-group1 {
  height: 907px;
  margin-top: 60px;
  position: relative;
  width: 428px;
}

.food-e .title {
  height: 43px;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 200px;
  width: 284px;
}

.food-e .japanese-restaurant {
  height: 31px;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 243px;
  width: 181px;
}

.food-e .select-box {
  align-items: flex-start;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  left: 33px;
  min-height: 219px;
  position: absolute;
  top: 310px;
  width: 171px;
}

.food-e .beef-rice-bowl {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 124px;
}

.food-e .select-box-1 {
  left: 227px;
  top: 310px;
}

.food-e .yakisoba {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 124px;
}

.food-e .select-box-2 {
  left: 33px;
  top: 569px;
}

.food-e .salmon-don {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 124px;
}

.food-e .select-box-3 {
  left: 227px;
  top: 569px;
}

.food-e .sushi {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 9px;
  min-height: 27px;
  width: 124px;
}

.food-e .overlap-group {
  align-items: flex-start;
  background-color: var(--bittersweet);
  border-radius: 6px;
  display: flex;
  gap: 11px;
  height: 32px;
  left: 18px;
  min-width: 120px;
  padding: 1px 0;
  position: absolute;
  top: 28px;
}

.food-e .arrow-back {
  height: 29px;
  width: 36px;
}

.food-e .place {
  height: 24px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1.4px;
  min-width: 59px;
  text-align: center;
  white-space: nowrap;
}
